---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} NextTool. All rights reserved.
	<div class="social-links">
		<a href="https://www.youtube.com/@NextTool-d2m" target="_blank">YouTube</a>
		<a href="https://www.pinterest.com/nexttool0700" target="_blank">Pinterest</a>
		<a href="/about">About</a>
		<a href="/disclaimer">Disclaimer</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1.5em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>