---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<div class="social-links">
			<a href="https://www.youtube.com/@NextTool-d2m" target="_blank">
				<span class="sr-only">NextTool on YouTube</span>
				<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32">
					<path fill="currentColor" d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/>
				</svg>
			</a>
			<a href="https://www.pinterest.com/nexttool0700" target="_blank">
				<span class="sr-only">NextTool on Pinterest</span>
				<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32">
					<path fill="currentColor" d="M8 0a8 8 0 0 0-2.915 15.452c-.07-.633-.134-1.606.027-2.297.146-.625.984-4.171.984-4.171s-.252-.504-.252-1.25c0-1.17.68-2.046 1.525-2.046.719 0 1.067.54 1.067 1.187 0 .723-.461 1.807-.699 2.812-.2.84.42 1.524 1.246 1.524 1.494 0 2.645-1.574 2.645-3.845 0-2.010-1.444-3.415-3.509-3.415-2.388 0-3.792 1.792-3.792 3.645 0 .721.277 1.493.623 1.916a.25.25 0 0 1 .057.239c-.063.263-.206.840-.234.958-.037.153-.125.185-.288.111-1.049-.488-1.703-2.021-1.703-3.253 0-2.646 1.923-5.079 5.545-5.079 2.912 0 5.176 2.076 5.176 4.850 0 2.894-1.825 5.221-4.360 5.221-.852 0-1.653-.443-1.927-.965l-.524 1.955c-.190.731-.701 1.645-1.044 2.201A8 8 0 1 0 8 0z"/>
				</svg>
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}
	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>